:root {
    --background-color: #FFF1E0 ;
    --backgrounnd-color-blokjes: white;
    --box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
    --small-p: 14px;
    --body-font:'avenir', sans-serif;
    --title-font; 'poppins', sans-serif;
    --romance-genre: #D176BD;
    --white-color-typo: #FFFFFF;
    --lit-genre: #B7C959;

}

body{
    background-color: var(--background-color);
}

*{
    font-family: 'poppins' , sans-serif;
}

h1{
    padding-left: 1em;
    margin: 0;
}

/* header */
header{
    display: flex;
    padding: 1em;
}

.logo{
    margin: 0 auto;
    width: 100px;
    display: block;
}

.menu{
    max-width: 50px;
}

.account{
    max-width: 50px;
}

ul {
    padding: 1em;
    margin: 0;
}


.filter-favorieten{
    display: inline-block;
    border-color: black;
    border: 1px solid;
    border-radius: 6em;
    text-align: center;
    padding-block: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.1em;
}
/* end header styling */


/* algemene block/card styling */
.reserveren, .favorieten, .aanraders, .lenen{
    gap: .5em;
    background-color: var( --backgrounnd-color-blokjes); /* Use the defined background color variable */
    box-shadow: var(--box-shadow); /* Use the defined box shadow variable */
    border-radius: 1em;
    margin: 1em;
}
/* end algemene block/card styling */


/* start styling RESERVEREN */
.reserveren {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .1fr .1fr .1fr .1fr .1fr .1fr;
    margin: 1em;
    padding: 1em;
    gap: 1em;
}

/* .reserveren-hidden{
    display: none;
} */

.reserveren h2 {
    grid-area: 1/1/2/3;
    margin: .1em;
    padding-left: .5em;
    /* padding-top: 1em; */
    padding-bottom: none;
    text-align: left;
}

.reserveren img {
    grid-area: 2/1/7/2;
    max-height: 250px;
    padding-left: 1em;
}

.reserveren .genre {
    grid-area: 2/2/3/3;
    border-width: 2px; /* Adjust the value as needed */
    border-color: black;
    display: inline-block; /* Add this to make it a block-level element */
    /* padding: 0.5em; Optional: Add padding to give some space around the text */
    margin-right: 1em;
    max-width: 70%;
}


.reserveren h3 {
    grid-area: 3/2/4/3;
    padding: none;
    margin: .01em;
    margin-right: 1em;
}

.reserveren p {
    grid-area: 5/2/6/3;
    margin: .01em;
    padding-right: 1em;
    margin-right: 1em;
}

.reserveren .schrijver {
    grid-area: 4/2/5/3;
    margin: .01em;
    padding-right: 1em;
    margin-right: 1em;s
}

.reserveren button {
    grid-area: 7/1/8/3;
    max-width: 93%;
    padding: 1em;
}
/* end styling reserveren */


/* v2 styling favorieten */
.favorieten {
   padding: 1em;
   /* margin: 0; */
   
}

.favorieten h2{
    margin-top: .1em;
}
.boeken {
    display: flex;
    overflow-x: auto;
    /* margin-right: -1em; */
    margin-inline: -1em;
    padding-left: 1em;
    
}

.book{
    /* maakt responsive */
    max-height: 200px;
    max-width: 100%; 
    /* for some breating you know! */
    margin-right: 1em;
    padding: 0;
}


/* .favorieten .zielijst {
    width: 100%;
    margin-top: 1em;
    margin-right: 1em; 
} */

.favorieten :nth-child(3) {
        display: grid;
        place-items: center;
        width: 100%;
        /* padding: .5em; */
        

        >button {
            width: 100%;
        }



    /* background-color: #000; */
}

.favorieten button{
    margin-top: 1em;
    padding: .7em;
}

/* v3 aanraders styling */
.aanraders {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .1fr 2fr 2fr .1fr;
    gap: 1em;
}

.aanraders h2{
    grid-area: 1/1/2/3;
    margin-left: 1em;
    margin-right: 1em;
    padding: none;
}

.aanraders .book1{
    grid-area: 2/1/3/2;
    padding-left: 1em;
}

.aanraders .book2{
    grid-area: 3/1/4/2;
    padding-left: 1em;

}

.aanraders > div:nth-child(1){
    grid-area: 2/2/3/3;
}

.aanraders > div:nth-child(2){
    grid-area: 3/2/4/3;
}

.aanraders .zielijst{
    /* width: 100%; */
    padding: 1em;
}

.literatuur{
    background-color: var(--lit-genre);
    color: var( --white-color-typo);
}

.aanraders .zielijst {
    grid-area: 4/1/5/3;
    margin: 1em;
    max-height: 50px;
    padding: 1em;
}

.zielijst {
    background-color: #52A2D6;
    color: var (--white-typo);
    appearance: none;
    border-color: none;
    /* margin: 1em;
    max-height: 50px;
    padding: 1em; */
}





/* start uitlenen en verlengen */
.lenen{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.lenen h2{
    margin-top: 1em;
    margin-bottom: 0;
}

.lenen p{
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.5); 
    margin: .5em 0; 
    padding-right: 1em;
}

.lenen .zielijst{
    padding: .7em;
}

/* footer */
footer{
    display: block;
    position: relative;
    float: right;
    clear: both;
    width: 100%;
    padding-top: 30px;
    margin-top: 50px;
    background-color: #000;
}
/* end footer */


/* algemene componenten recycle */

.genre {
    border-width: 2px; 
    border-color: black;
    display: inline-block; 
    padding: 0.5em; 
    appearance: none;
    margin: .5em;
}

.romantisch{
    background-color: var(--romance-genre);
    color: var( --white-color-typo);
}

button {
    appearance: none;
    border-color: none;
    appearance: none;
    border-radius: .5em;
    border: none;
    box-shadow: var(--box-shadow);
    color: var( --white-color-typo);
    
}



/* js filter favorieten */
.hidden{
    display: none;
}

.section_nav{
    padding: 1em;
    margin: 0;
}

.section_nav button{
    display: inline-block;
    border-color: black;
    border: 1px solid;
    border-radius: 6em;
    text-align: center;
    padding-block: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.1em;
    background-color: none;
    color: #000;
    cursor: pointer;
}